{% extends "base.html" %}
{% block title %}Тех. задание skypro{% endblock %}
{% block content %}
<div class="container">
  <h1>Список товаров</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название товара</th>
        <th>Категория</th>
        <th>Статус активности</th>
        <th>Цена</th>
        <th>Количество заказов за прошлый месяц</th>
        <th>Количество заказов за текущий месяц</th>
      </tr>
    </thead>
    <tbody>
      {% for product in object_list %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.is_active }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.orders_last_month }}</td>
        <td>{{ product.orders_current_month }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
