{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Список товаров</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название товара</th>
        <th>Категория</th>
        <th>Статус активности</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.is_active }}</td>
        <td>{{ product.price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container mt-4">
  <h2>Количество заказов:</h2>
  <p>За прошлый месяц: {{ products.0.orders_last_month }}</p>
  <p>За текущий месяц: {{ products.0.orders_current_month }}</p>
</div>
{% endblock %}
